body {
    height: 100vh;
    background-color: rgba(0, 110, 255, 0.39);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}
h1{
    color: rgb(23, 20, 20);
}

.box {
    background-color: lightblue;
    padding: 30px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    border: 2px grey solid ;

}

.counter {
    background-color: rgba(17, 34, 64, 0.696);
    color: white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin-bottom: 20px;
    border: 2px solid;
    /* border-image: linear-gradient(to right, #fc00ff, #00dbde);; */
    background: linear-gradient(rgba(255, 255, 255, 0.151), rgba(255, 255, 255, 0.785)) padding-box,
              linear-gradient(to right, darkblue, darkorchid) border-box;
  border-radius: 50em;
  border: 2px solid transparent;



}

.row {}